* {
	cursor: url(./../images/cicon.png), auto;
}

body {
	width: 85%;
	margin: auto;
	font-family: sans-serif;
	background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("./../images/border.png") no-repeat;
	background-size: 100% 100%;
}

h1 {
	font-family: serif;
	font-size: 36pt;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}	

.sec *{
	font-size: 14pt;
	text-align: left;
}

.cont {
	width: 100%;
	display: inline-block;
}

.none {
	text-decoration: none;
	border: none;
	background: none;
	list-style-type: none;
}

.clear {
	clear: both;
}
/* Section */
.image {
	background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(./../images/title.jpg) no-repeat;
	width: 420px;
	height: 100px;
	margin: auto;
	justify-content: center;
	align-items: center;
	display: flex;
}

.left {
	float: left;
	width: 30%;
}

.left button {
	width: 200px;
	padding: 50px 30px;
	
}

.left button:hover {
	background-color: #eee;
}

.left2 {
	margin: 50px 0 0 300px;
	width: 65%;
}

/* Content */
.left ul li button.chosen {
	border: solid 2px skyblue;
	background: none;
}

/* Footer */
footer div {
	margin: 50px 0 0 30px;
}

.right {
	float: right;
}