body {
	margin: 0;
}

#sec01{
	width: 100%;
	margin: auto;
	padding-bottom: 100%;
	padding-top: 10px;
	background-color: black;
	color: white;
}


.sec01-heading h1{
	font-size: 36pt;
	font-weight: bold;
	font-style: italic;
	font-family: serif;
	text-align: center;


}

.sec01-button{
	text-align: center;
}

.sec01-button a{
	color: black;
}

#sec01 div button{
	width: 130px;
	height: 40px;
	margin-right: 10px;
	border: 1px solid gray;
	border-radius: 6px;
	background-color: white;
	color: black;
	font-size: 15px;
	margin-bottom: 100px;

}

.sec01-img{
	width: 600px;
	height: 1400px;
	padding: 50px 50px 50px 50px;
	margin: auto;
	border: 1px solid white;
	border-radius: 20px;
}

.sec01-img p{
	font-size: 14pt;
	font-family: sans-serif;

}

.sec01-text{
	width: 700px;
	height: 200px;
	margin: auto;
	padding: 5px 5px 5px 5px;
	border: 1px solid white;
	border-radius: 10px;
	
}

.sec01-text h1{
	font-size: 36pt;
	text-align: center;
	font-style: italic;
	font-family: serif;
}

.sec01-text p{
	font-size: 14pt;
	font-family: sans-serif;

}

.button{
	width: 130px;
	height: 40px;
	margin-right: 10px;
	margin-top: 20px;
	border: 1px solid gray;
	border-radius: 6px;
	background-color: gray;
	color: black;
	font-size: 15px;
	margin-bottom: 100px;
}