#heading{
  text-align: center;
  font-family:serif;
  font-size: 36pt;
  font-weight: bold;
  font-style: italic;
}
.container{
  margin: auto;
  width:85% ;
  font-family: sans-serif;
  font-size: 14pt;
  text-align: left;
}
body{
  background: url(../images/001.jpg)center;
  background-size: 100%;
  max-height:100% ; 
  color: white;
}
#sec1 .container nav a{
  margin-right: 70px;
  color: white;
}
img{
  width: 400px;
  margin-right: 53px;
}

