.box2{
	padding-top: 40px;
	width: 80%;
	margin: auto;
}
#background2{
	background:url(../image/cat5.jpg)no-repeat;
	background-size: 100%;
	width: 100%;
}
.font2a{
	font-size: 1.5em;
	font-family:Segoe UI Black;
	color: white;
	text-align: center;
}
.font2b{
	font-size: 1.4em;
	font-family:Segoe UI Black;
	color: white;
}

.image2a{
	width: 300px;
}
.image2b{
	float: right;
	width: 444px;
}