body{
	background: #c0c0aa;  /* fallback for old browsers */
	background: -webkit-linear-gradient(left, #1cefff, #c0c0aa);
	background: -o-linear-gradient(left, #1cefff, #c0c0aa);
	background: linear-gradient(to right, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.contain{
	width: 85%;
	margin: auto;
}
#section1 div button{
	background-color:#4a90e2;
	border-radius:10px;
	border:0;
	height: 50px;
	width: 300px;
	font-size: 14pt;
	margin-top: 30px;
}
#section1 div h1{
	font-size: 36pt;
	text-align:center;
	color: rgb(3,0,0);
	font-style: italic;
	margin-top: 250px;
}
#section1 div a{
	text-decoration: none;
}
.button1{
	text-align: center;
}
.white{
	color: white;
}