.contain{
	width: 85%;
	margin: auto;
}
body{
	background: #c0c0aa;  /* fallback for old browsers */
	background: -webkit-linear-gradient(left, #1cefff, #c0c0aa);
	background: -o-linear-gradient(left, #1cefff, #c0c0aa);
	background: linear-gradient(to right, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#section1 div button{
	background-color:#4a90e2;
	border-radius:5px;
	border:0;
	height: 30px;
	width: 150px;
	font-size: 14pt;
}
#section1 div h1{
	font-size: 36pt;
	text-align: center;
	font-style: italic;
	margin-top: 40px;
}
#section1 div a{
	text-decoration: none;
}
.button1{
	text-align: center;
}
.white{
	color: white;
}
#section2 div img{
	width: 200px;
	margin-left: 100px;
	margin-top: 10px;
}
#section2 div p{
	font-size: 14pt;
	margin-top: 40px;
}
.button2{
	background-color:#4a90e2;
	border-radius:5px;
	border:0;
	height: 30px;
	width: 150px;
	font-size: 14pt;
	color:white;
}
#section2 div a{
	text-decoration: none;
}
.button3{
	background-color:#4a90e2;
	border-radius:5px;
	border:0;
	height: 30px;
	width: 300px;
	font-size: 14pt;
	color:white;
}
.button4{
	float: right;
	margin-top: 10px;
	margin-right: 50px;
}