body{
	background-color: black;
	color: white;
	width: 90%;
	border: 1px solid white;
	margin: auto;
	margin-top: 80px;
	height: 600px;
}
#section1{
	margin-left: 480px;
	margin-top: 80px;
}
#section1 p{
 	display: inline;
 	padding: 20px 20px;
 	font-size: 14pt;
 	font-family: arial, san serif;
}
#section1 p a{
	text-decoration: none;
	color: white;
}
#sec{
	margin-top: 100px;
	margin-left: 500px;
}
#sec h1{
	font-size: 36pt;
	font-family: bold;
	font-style: serif;
}
#sec h1 a{
	text-decoration: none;
	color: white;
	font-style: serif;
	font-family: bold;
}
#section2{
	margin-left: 370px;
}
#section2 button{
	padding: 15px 50px;
	border: 0;
	border-radius: 5px;
	background-color: pink;
	margin-top: 50px;
}
#section2 button a{
	text-decoration: none;
	color: black;
}
#section3{
	float: right;
	margin-top: 200px;
	margin-right: 50px;
}
#section3 button{
	padding: 10px 20px;
	border-radius: 5px;
	border: 0;
	background-color: #4a90e2;
}
.img1{
	width: 300px;
	margin-top: -100px;
	float: right;
	margin-right: -250px;
}
.img2{
	width: 300px;
	margin-top: 30px;
}