body{
	margin: 0;
	width: 100%;
}
#sec01{
	height: 1000px;
	background-color: #fafafa;
}
#sec01 a{
	color: white;
	text-decoration: none;
}
#width01{
	width: 400px;
	height: 100px;
	

}
button{
	background-color: white;
	border-radius: 20px 20px;
	width: 100px;
	height: 60px;
}
#nav01 ul li{
	display: inline-block;
	padding-right: 20px;
}
#nav01{
	background-color: #2c333d;
	font-family: cursive;
	border: solid 2px black;
	position: fixed;
	font-size: 17px;
}
#word1{
	font-family: cursive;
	font-size: 40px;
	color: #2c333d;
	position: relative;
	right: -250px;
	top: 150px;
	

}
#pic1{
	position: relative;
	height: 200px;
	bottom: -150px;
	right: -180px;

}
#pic2{
	position: relative;
	height: 250px;
	right: -200px;
	bottom: -180px;
}
#mid01{
	
	width: 900px;
	margin: auto;
}
#sec01 a{
	color: #8851ba;
}
