/*sec01*/
#sec00{
  background: url(../images/back1.jpg);
  background-size: 100%;
  height: 100%;
  padding: 40px;
}
#sec01{
  background: url(../images/back1.jpg);
  background-size: 100%;
  padding: 40px;
}
#sec03{
  background: url(../images/back1.jpg);
  background-size: 100%;
  padding: 40px;
}
#sec04{
  background: url(../images/back1.jpg);
  background-size: 100%;
  padding: 40px;
}
#sec00 img{
  width: 200px;
}
#sec01 img{
  width: 200px;
}
#sec03 img{
  width: 200px;
  margin-top: -200px;
}
.cat-adjust{
  width: 600px;
}
.img-adjust{
  width: 1000px;
}
.image-adjust{
  margin-top: -200px; 
}
.adjust-img{
  margin-left: 80%;
}
.heading{
  color:white;
  font-size: 80px;
  padding-top: 250px;
  text-align: center;
}
.img{
  width: 400px;
}
.padding{
  padding-top: 100px;
}
.white{
  color:white;
  padding-left: 20px;
}
